<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashstyles.css') }}">
    <!-- <link rel="stylesheet" href="C:\cs\blog\static\dashstyles.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
</head>
<body>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="app">
        <div class="app-body"> 
            {% include 'navbar.html' %}
            <div class="app-body-main-content">
                <section class="service-section">
                    <div class="tiles">
                        
                    </div>
                </section>
            </div>
            {% include 'friendsList.html' %}
        </div>
    </div>
    <script src='https://unpkg.com/phosphor-icons'></script><script  src="./script.js"></script>
</body>
</html>