<div class="app-body-sidebar">
    <section class="payment-section">
        <h2>Friends List</h2>
        <div class="payment-section-header">
            <p>See what your friends are yapping about</p>
        </div>
        <div class="payments">
            <div class="payment">
                <div class="card green">
                    <span>01/22</span>
                    <span>
                        •••• 4012
                    </span>
                </div>
                <div class="payment-details">
                    <h3>Internet</h3>
                    <div>
                        <span>$ 2,110</span>
                        <button class="icon-button">
                            <i class="ph-caret-right-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div class="card olive">
                    <span>12/23</span>
                    <span>
                        •••• 2228
                    </span>
                </div>
                <div class="payment-details">
                    <h3>Universal</h3>
                    <div>
                        <span>$ 5,621</span>
                        <button class="icon-button">
                            <i class="ph-caret-right-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div class="card gray">
                    <span>03/22</span>
                    <span>
                        •••• 5214
                    </span>
                </div>
                <div class="payment-details">
                    <h3>Gold</h3>
                    <div>
                        <span>$ 3,473</span>
                        <button class="icon-button">
                            <i class="ph-caret-right-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <div>
                <input type="text" placeholder="Add a Comment">
            </div>
        </div>
        <div class="payment-section-footer">
            <button class="save-button">
                Submit
            </button>
        </div>
    </section>
</div>