<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashstyles.css') }}">
    <title>My Profile</title>
</head>
<body>

    <div class="app">
        <div class="app-body">
            {% include 'navbar.html' %}
            <div class="app-body-main-content">
                <section class="service-section">
                    <div class="tiles">
                        {% if posts %}
                            {% for post in posts %}
                        
                                <article class="tile">
                                    <div class="tile-header">
                                        <i class="ph-lightning-light"></i>
                                        <h3>
                                            <span> {{ post.user.username }} </span>
                                            <span>{{ post.title }}</span>
                                        </h3>
                                    </div>
                                    <a href="{{ url_for('viewPost', post_id=post.id) }}">
                                        <span>View</span>
                                    </a>
                                </article>
                            {% endfor %}
                        {% endif %}
                    </div>
                </section>
            </div>
            {% include 'friendsList.html' %}
        </div>
    </div>
</body>
</html>